<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Formulário</h3>
                    <p>Usando os conhecimentos que foram adquiridos até agora, crie um formulário para o cadastro de usuários de um site. Para cada tipo de input que for usado no formulário (text, number, date, etc) crie um novo componente e o adicione no formulário, adicione os estilos que desejar e apresente seu formulário.</p>